src/main/resources/xsd/account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://zetdev.com/integration/account"
           xmlns:tns="http://zetdev.com/integration/account"
           elementFormDefault="qualified">

    <xs:element name="GetAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
                <xs:element name="balance" type="xs:double"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
